pipeline/getmetadata.json
{
	"name": "getmetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata activity",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sql_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"table_Name": "Address"
						}
					},
					"fieldList": [
						"structure",
						"columnCount",
						"exists"
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata activity').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sql_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "SalesLT",
										"table_Name": "CustomerAddress"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_sink",
									"type": "DatasetReference",
									"parameters": {
										"filePath": "CustomerAddress"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "startTime",
							"value": {
								"type": "Expression",
								"content": "@utcNow()"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "endTime",
							"value": {
								"type": "Expression",
								"content": "@utcNow()"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"variables": {
			"starttime": {
				"type": "String"
			},
			"endtime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-23T17:53:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}